In [1]:
import pandas as pd
import datetime as dt

In [8]:
datos = pd.read_csv("Entrenamieto_ECI_2020.csv")
datos["Price"] = pd.to_numeric(datos["Price"], errors="coerce")
datos["Quote_Expiry_Date"] = pd.to_numeric(datos["Price"], errors="coerce")
datos["Last_Modified_Date"] = pd.to_numeric(datos["Price"], errors="coerce")
datos["Actual_Delivery_Date"] = pd.to_numeric(datos["Actual_Delivery_Date"], errors="coerce")
datos["Size"].value_counts()
datos["Sales_Contract_No"].value_counts()
datos["Quote_Type"].value_counts()
datos["Brand"].value_counts()

None        0.938868
Other       0.035818
Brand_9     0.008261
Brand_5     0.002832
Brand_24    0.002242
Brand_11    0.002006
Brand_25    0.001416
Brand_10    0.001298
Brand_22    0.001180
Brand_7     0.001003
Brand_21    0.001003
Brand_13    0.001003
Brand_23    0.000590
Brand_20    0.000590
Brand_27    0.000295
Brand_17    0.000295
Brand_2     0.000236
Brand_0     0.000236
Brand_4     0.000236
Brand_12    0.000177
Brand_16    0.000118
Brand_26    0.000059
Brand_6     0.000059
Brand_19    0.000059
Brand_1     0.000059
Brand_3     0.000059
Name: Brand, dtype: float64

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               356 non-null    float64
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   356 non-null    float64
 31  Last_Modified_Date                  356 non-null    float64
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                0 non-null      float64
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(8), int64(9), object(35)
memory usage: 6.7+ MB